POLARIS_REALM=POLARIS
POLARIS_ROOT_CLIENT_ID=root
POLARIS_ROOT_CLIENT_SECRET=s3cr3t
POLARIS_CATALOG_NAME=quickstart_catalog
POLARIS_NAMESPACE=orders_events
POLARIS_API_PORT=8181
POLARIS_MANAGEMENT_PORT=8182
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=greytl-warehouse
