POLARIS_REALM=POLARIS
POLARIS_ROOT_CLIENT_ID=root
POLARIS_ROOT_CLIENT_SECRET=s3cr3t
POLARIS_CATALOG_NAME=quickstart_catalog
POLARIS_NAMESPACE=orders_events
POLARIS_API_PORT=8181
POLARIS_MANAGEMENT_PORT=8182
OBJECT_STORE_API_PORT=9000
OBJECT_STORE_CONSOLE_PORT=9001
OBJECT_STORE_ACCESS_KEY=rustfsadmin
OBJECT_STORE_SECRET_KEY=rustfsadmin
OBJECT_STORE_BUCKET=iceflow-warehouse
OBJECT_STORE_IMAGE=rustfs/rustfs:1.0.0-alpha.76
OBJECT_STORE_AWS_CLI_IMAGE=public.ecr.aws/aws-cli/aws-cli:2.27.41
POLARIS_IMAGE=apache/polaris:1.3.0-incubating
POLARIS_BOOTSTRAP_IMAGE=alpine/curl:8.17.0
